
@import "tailwindcss";

@theme {
  --color-navy: #2C3E50;
  --color-gold: #F39C12;
  --color-goldHover: #d68910;
  --color-cream: #FDF6E3;
  --color-charcoal: #2C2C2C;
  
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Lora', serif;
}

/* Global Styles */
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-cream text-charcoal antialiased;
}